h1 a {
  color: #333;
}
.navbar-inverse a.navbar-brand {
  color: #fff;
  font-size: 22px;
  padding-top: 11px;
}
.navbar-white a {
  color: #333;
}
.navbar-white a.navbar-brand {
  color: #333;
  font-size: 22px;
  padding-top: 11px;
  padding-left: 0;
}
.navbar-inverse .nav-justified > li > a {
  color: #fff;
}
.nav > li > a:focus {
  color: #666;
}
.nav > li > a:hover {
  background-color: #333;
}
header {
	margin-bottom: 20px;
}
